<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
</head>

<body>
<div class="py-5" id="rootdiv">
    <div class="container w-50">
        <div class="row">
            <div class="col-md-12">
                <div id="c_form-h" class="">
                    <h1 class="">网上报名系统</h1>
                    <h3 class="">用户注册</h3>
                    <div class="form-group row"> <label class="col-2 col-form-label">用户名</label>
                        <div class="col-10">
                            <input v-model="inputname" class="form-control" id="inputname" placeholder="请输入用户名"> </div>
                    </div>
                    <div class="form-group row"> <label class="col-2 col-form-label">邮箱地址</label>
                        <div class="col-10">
                            <input v-model="inputemail" type="email" class="form-control" id="inputmailh" placeholder="请输入邮箱地址" > </div>
                    </div>
                    <div class="form-group row"> <label class="col-2 col-form-label">账号密码</label>
                        <div class="col-10">
                            <input v-model="inputpassword" type="password" class="form-control" id="inputpasswordh1" placeholder="输入密码"> </div>
                    </div>
                    <div class="form-group row"> <label class="col-2 col-form-label">确认密码</label>
                        <div class="col-10">
                            <input v-model="inputdepassword" type="password" class="form-control" id="inputpasswordh2" placeholder="重复密码"> </div>
                    </div>
                    <button class="btn btn-primary" v-on:click="register">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script>
    var vue = new Vue({
        el: '#rootdiv',
        data: {
            inputname:'',
            inputemail:'',
            inputpassword:'',
            inputdepassword:'',

        },
        methods: {
            register: function () {
                if (this.inputname != ""&& this.inputemail != ""
                    && this.inputpassword != ""&& this.inputdepassword != "") {
                    if (this.inputpassword != this.inputdepassword)
                        alert("重复密码错误！");
                    else {
                    axios.post('/user/register', Qs.stringify({
                        name: this.inputname,
                        email: this.inputemail,
                        password: this.inputpassword
                    }))
                        .then(function (response) {
                            var regresult = response.data;
                            if (regresult == 1)
                                if(confirm("注册成功，点击跳转登录页面！"))
                                    window.location.href="/login";
                            if (regresult == 0) {
                                alert("注册失败！用户邮箱已被使用！");
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                }
                else alert("请完善注册信息！")
            }
        }
    })

</script>
</html>